.work-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  flex: auto;
  padding: 0;
}

.work-item {
  min-width: 300px;
}

.work-video {
  height: 100%;
  width: 100%;
}

.work-carousel {
  height: 400px;
}

.work-button-modal {
  position: absolute;
  top: 1%;
  left: 1%;
}

.work-photo {
  width: 100%;
  height: auto;
}

.work-modal {
  width: 90vw;
  /* padding: 0 2%; */
}

@media only screen and (min-width: 700px) {
  .work-list {
    justify-content: space-around;
  }
}
